/* ============ */
/* About Section */
/* ============ */
.info h2,
.info p {
    color: var(--yellow);
}
.info {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 110px 0 110px 0;
}
.info p {
    max-width: 960px;
    padding: 0 20px;
    margin-bottom: 30px;
}
.info p:last-child {
    margin-bottom: 0;
}
.info h2 {
    margin-bottom: 20px;
}
@media (max-width: 780px) {
    .info {
        padding: 70px 0;
    }
}
/* ============ */
/* Images Section */
/* ============ */
.about-pg .images {
    background-color: var(--yellow);
}
.image7 {
    background-image: url(/ASSETS/IMAGES/OTHERS/MaHaw_Verc.jpg);
    grid-column: 2/6;
    grid-row: 1/8;
}
.image8 {
    background-image: url(/ASSETS/IMAGES/APP/GoongSarong.jpg);
    grid-column: 8/12;
    grid-row: 2/6;
}
.image9 {
    background-image: url(/ASSETS/IMAGES/CURRY/PanangCurry.jpg);
    grid-column: 9/13;
    grid-row: 8/12;
}
.image10 {
    background-image: url(/ASSETS/IMAGES/SALAD/SomTumThai.jpg);
    grid-column: 1/8;
    grid-row: 10/16;
}
/* ------------ */
/* Slide images */
/* ------------ */
.slide1 {
    background-image: url(/ASSETS/IMAGES/CHEF-SPECIAL/MiangSalmon.jpg);
}
.slide2 {
    background-image: url(/ASSETS/IMAGES/APP/KanomJeep.jpg); 
}
.slide3 {
    background-image: url(/ASSETS/IMAGES/SALAD/YumTalay.jpg);
}
.slide4 {
    background-image: url(/ASSETS/IMAGES/SOUP/TomKhaSoup.jpg);
}