/* ============ */
/* Menus */
/* ============ */
.order-pg .menus {
    margin-top: 88px;
}
.order-pg .menu-container {
    max-width: 975px;
}
.order-pg .menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.order-pg .menu-item {
    background-color: var(--white);
    margin: 0;
    height: 180px;
    overflow: hidden;
    border-radius: 7px;
    display: flex;
    transition: all 0.3s ease;
}
.food-img {
    object-fit: cover;
    width: 200px;
  }
@media (max-width: 1100px) {
    .food-img {
        width: 170px;
    }
}
.order-pg .item-header {
    justify-content: space-between;
}
.order-pg .menu-title::after {
    content: '';
}
.order-pg .menu-info {
    font-size: 12px;
} 
.item-cont {
    padding: 10px 15px;
    width: 630px;
}
.order-pg .menu-item:hover {
    box-shadow:
  0.6px 0.6px 1.8px rgba(0, 0, 0, 0.057),
  1.5px 1.6px 4.4px rgba(0, 0, 0, 0.068),
  3px 3.2px 9px rgba(0, 0, 0, 0.071),
  6.2px 6.6px 18.6px rgba(0, 0, 0, 0.076),
  17px 18px 51px rgba(0, 0, 0, 0.11)
;
}
/* ============ */
/* Cart */
/* ============ */
.cart-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.292);
    z-index: 10;
    /* visibility: hidden; */
}
.cart {
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--white);
    /* transform: translateX(100%); */
    z-index: 11;
    transition: all 0.3s linear;
}
@media(min-width: 780px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}
.overlay-on {
    visibility: visible;
}
.show-cart {
    transform: translateX(0);
}
.cart-overlay h3,
.cart-content h4,
.cart-content p {
    color: var(--black);
}
.cart-content span {
    color: var(--white);
}
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
/* close-cart btn */
.close-cart {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.close-cart:hover .close-cartBtn {
    background-color: var(--yellow);
}
.close-cart:hover .close-cartBtn::after {
    background-color: var(--yellow);
}
.close-cartBtn {
    width: 25px;
    height: 3px;
    background-color: var(--black);
    border-radius: 1px;
    position: absolute;
    transform: rotate(45deg);
    transition: all 0.3s ease;
}
.close-cartBtn::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: var(--black);
    border-radius: 1px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    transition: all 0.3s ease;
}
/* Style cart-content */
.cart-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 20px;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--yellow);
    border-radius: 7px;
    overflow: hidden;
    padding-right: 20px;
    height: 100px;
    transition: all 0.3s linear;
}
.cart-item:hover {
    box-shadow:
  0px 0.5px 0.6px rgba(0, 0, 0, 0.035),
  0px 1.3px 1.8px rgba(0, 0, 0, 0.05),
  0px 3px 4.2px rgba(0, 0, 0, 0.065),
  0px 10px 14px rgba(0, 0, 0, 0.1)
;

}
.cart-content img {
    width: 110px;
    height: 100px;
    object-fit: cover;
}
.item-info {
    height: 76px;
}
.item-info h4,
.item-info p {
    margin-bottom: 5px;
}
.cart-footer {
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
}
.cart-footer h3 {
    margin-bottom: 10px;
}
.incrementBtn,
.substractBtn {
    color: var(--white);
    width: fit-content;
    transform: translateX(-1px);
}
.incrementBtn svg {
    transform: rotate(-90deg);
}
.substractBtn svg {
    transform: rotate(90deg) translateX(2px);
}
.amount-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clear-cart:hover {
    border-color: var(--yellow);
    background: var(--whtie);
    color: var(--black);
}

