/* ============ */
/* Info Section */
/* ============ */
.reserveBtn {
    background-color: var(--black);
    border-color: var(--black);
    color: var(--yellow);
    margin-top: 30px;
}
.reserveBtn:hover {
    background-color: var(--yellow);
    color: var(--black);
}