* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
}
img, iframe {
    width: 100%;
    vertical-align: bottom;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* ============ */
/* GLOBAL SCOPE */
/* ============ */
:root {
    --black: #2e3030;
    --yellow: #F0c664;
    --white: #fff;
    --blue: rgb(86, 86, 255);
    --dm: 'DM Sans', sans-serif;
    --cormorant: 'Cormorant Garamond', serif;
}
body{
    font-family: var(--dm);
    font-size: 14px;
    color: var(--white);
    background-color: var(--black);
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
h1 {
    font-family: var(--cormorant);
    text-transform: capitalize;
    font-weight: 300;
    font-size: 50px;
    color: var(--yellow);
}
h2 {
    font-family: var(--cormorant);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 40px;
}
h3 {
    font-family: var(--cormorant);
    text-transform: capitalize;
    font-weight: 300;
    font-size: 32px;
}
p {
    font-size: 16px;
    letter-spacing: 2.5px;
}
a {
    font-family: var(--dm);
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3.1px;
}
@media (max-width: 1100px) {
    .container {
        width: 95vw;
    }
}
@media (max-width: 780px) {
    .container {
        width: 100vw;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 34px;
    }
    h3 {
        font-size: 28px;
    }
    p {
        font-size: 14px;
    }
}
/* ============ */
/* Header */
/* ============ */
header {
    background-color: var(--black);
    box-shadow: 0 0 3px 2px #0d07093c;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu-btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
}
.menu-btn:hover .burger-menu,
.menu-btn:hover .burger-menu::before,
.menu-btn:hover .burger-menu::after {
    background-color: var(--yellow);
}
.menu-btn:hover {
    animation: menuHover 0.5s ease;
}
@keyframes menuHover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
/* Burger Menu */
.burger-menu {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    border-radius: 1px;
    position: absolute;
    transition: all 0.5s ease;
}
.burger-menu::before,
.burger-menu::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: var(--white);
    border-radius: 1px;
    position: absolute;
    transition: all 0.5s ease;
}
.burger-menu::before {
    transform: translateY(-8px);
}
.burger-menu::after {
    transform: translateY(8px);
}
.menu-btn.openMenu .burger-menu {
    background-color: transparent;
}
.menu-btn.openMenu .burger-menu::before {
    transform: rotate(45deg);
}
.menu-btn.openMenu .burger-menu::after {
    transform: rotate(-45deg);
}

/* ============ */
/* nav-header */
/* ============ */
.nav-header {
    height: 0;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.open {
    height: 90vh;
}
.nav-header a {
    display: block;
    padding: 20px;
    transition: all 0.3s ease;
}
.nav-header a:hover {
    color: var(--yellow);
}
.nav-social {
    display: flex;    
    justify-content: center;
    align-items: center;
}
.nav-social a {
    padding: 20px 9px;
    margin-top: 40px;
    transition: all 0.3s ease;
}
.nav-social a:hover svg {
    color: var(--yellow);
}
.nav-header p {
    padding: 20px;
}
.nav-header .createdby {
    font-size: 12px;
    padding-top: 5px;
    text-transform: capitalize;
}
.nav-header .createdby:hover {
    color: var(--blue);
}
@media (min-width: 780px) {
    .header {
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .main-header {
        padding: 0 0 10px 0;
    }
    .nav-header {
        height: auto;
    }
    .nav-header ul {
        display: flex;
    }
    .menu-btn,
    .nav-header p,
    .nav-header  .createdby,
    .nav-social {
        display: none;
    }
    .nav-header a {
        font-size: 11px;
        letter-spacing: 2px;
        padding: 0;
        margin: 0 13px;
    }
}
@media (min-width: 1100px) {
    .header {
        flex-direction: row;
        padding: 20px;
    }
    .main-header {
        padding: 0;
    }
    .nav-header a {
        margin-left: 25px;
    }
}
/* ============ */
/* Slide-images */
/* ============ */
.slide {
    width: 100vw;
    height: 90vh;
    position: relative;
    overflow: hidden;
}
.slide-holder {
    width: 10000vw;
    height: 90vh;
    display: flex;
}
.slide-holder div {
    width: 100vw;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide1 {
    background-image: url(/ASSETS/IMAGES/sally_1.jpg);
}
.slide2 {
    background-image: url(/ASSETS/IMAGES/sally_2.jpg);
}
.slide3 {
    background-image: url(/ASSETS/IMAGES/sally_3.jpg);
}
.slide4 {
    background-image: url(/ASSETS/IMAGES/sally_4.jpg);
}
/* next and prev button */
.nextBtn,
.prevBtn {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 5;
} 
.nextBtn svg,
.prevBtn svg {
    width: 15px;
    height: fit-content;
}
.nextBtn {
    right: 3vw;
}
.prevBtn {
    left: 3vw;
}
.nextBtn:hover {
    color: var(--yellow);
}
.prevBtn:hover {
    color: var(--yellow);
}
/* ============ */
/* Welcome Section */
/* ============ */
.welcome h2,
.welcome p {
    color: var(--black);
}
.welcome {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 0 150px 0;
}
.welcome p {
    max-width: 790px;
    padding: 0 20px;
}
.welcome h2 {
    margin-bottom: 20px;
}
@media (max-width: 780px) {
    .welcome {
        padding: 70px 0;
    }
}
/* ============ */
/* Images Section */
/* ============ */
.images {
    padding: 150px 0 150px 0;
}
.grid {
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 50px;
    gap: 20px;
}
.grid div {
    background-color: var(--yellow);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image1 {
    background-image: url(/ASSETS/IMAGES/sally_1.jpg);
    grid-column: 1/7;
    grid-row: 1/7;
}
.image2 {
    background-image: url(/ASSETS/IMAGES/sally_1.jpg);
    grid-column: 9/13;
    grid-row: 2/6;
}
.image3 {
    background-image: url(/ASSETS/IMAGES/sally_1.jpg);
    grid-column: 3/6;
    grid-row: 9/12;
}
.image4 {
    background-image: url(/ASSETS/IMAGES/sally_1.jpg);
    grid-column: 8/12;
    grid-row: 8/15;
}
.image5 {
    background-image: url(/ASSETS/IMAGES/sally_1.jpg);
    grid-column: 1/5;
    grid-row: 14/18;
}
.image6 {
    background-image: url(/ASSETS/IMAGES/sally_1.jpg);
    grid-column: 6/13;
    grid-row: 16/22;
}
@media (max-width: 1100px) {
    .grid {
        grid-auto-rows: 45px;
        gap: 10px;
    }
}
@media (max-width: 780px) {
    .images {
        padding: 70px 20px 70px 20px;
    }
    .grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .grid div {
        width: 100%;
        height: 50vh;
        margin-bottom: 20px;
    }
    .grid div:last-child {
        margin-bottom: 0;
    }
}
/* ============ */
/* Hours Section */
/* ============ */
.hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 0 150px 0;
    background-color: var(--yellow);
}
.hours h2,
.hours h3,
.hours p {
    color: var(--black);
}
.hours p {
    color: var(--black);
}
.bar {
    width: 70px;
    height: 3px;
    background-color: var(--black);
    margin-bottom: 20px;
}
.hours h2 {
    margin-bottom: 40px;
}
.hours h3 {
    margin-bottom: 20px;
}
.hours p {
    margin-bottom: 10px;
}
.hours .hours-address {
    color: var(--white);
    font-size: 12px;
    margin-bottom: 50px;
}
.hours-lunch {
    margin-bottom: 40px;
}
@media (max-width: 780px) {
    .hours {
        padding: 70px 20px;
    }
}
/* ============ */
/* Footer Section */
/* ============ */
footer {
    padding: 20px;
    text-align: center;
}
.footer-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
footer .createdby {
    font-size: 10px;
    color: var(--yellow);
}
.footer-social svg {
    transition: all 0.3s ease;

}
.footer-social a {
    margin-right: 10px;
}
.btn {
    padding: 5px 12px;
    border-radius: 2px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--yellow);
    border: solid 1px var(--yellow);
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--black);
    color: var(--yellow);
}
.footer-social a:hover svg {
    color: var(--yellow);
}
@media (max-width: 780px) {
    .footer-cont {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .footer-social {
        margin-bottom: 20px;
    }
    .footer-cont p {
        margin-bottom: 15px;
        font-size: 12px;
    }
    /* .signupBtn {
        mar
    } */
}
/* ============ */
/* Email Signup Modal */
/* ============ */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -10;
}
.open-modal {
    visibility: visible;
    z-index: 10;
}
.modal-overlay {
    background-color: var(--yellow);
    width: 60vw;
    padding: 20px 20px 40px 20px;
    color: var(--black);
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px #2e30309f;
}
.modal-overlay h2 {
    margin-bottom: 30px;
}
.modal-overlay .bar {
    margin: 0 auto 30px auto;
}
/* Close Signup Btn */
.close-signup {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.close-signup:hover .close-signupBtn {
    background-color: var(--black);
}
.close-signup:hover .close-signupBtn::after {
    background-color: var(--black);
}
.close-signupBtn {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    border-radius: 1px;
    position: absolute;
    transform: rotate(45deg);
    transition: all 0.3s ease;
}
.close-signupBtn::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: var(--white);
    border-radius: 1px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    transition: all 0.3s ease;
}
/* Signup Form */
.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-form input {
    margin-bottom: 25px;
    width: 40vw;
    padding: 13px 20px;
    outline: none;
}
.modal-form input::placeholder {
    color: #adacac;
}
.modal-btn {
    background-color: var(--black);
    color: var(--yellow);
    padding: 7px 20px;
    border-radius: 2px;
    border: solid 1px var(--black);
    transition: all 0.3s ease;
}
.modal-btn:hover {
    background-color: var(--yellow);
    color: var(--white);
    border-color: var(--white);
}