* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
}
img, iframe {
    width: 100%;
    vertical-align: bottom;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* ============ */
/* GLOBAL SCOPE */
/* ============ */
:root {
    --black: #2e3030;
    --yellow: #F0c664;
    --white: #fff;
    --blue: rgb(86, 86, 255);
    --dm: 'DM Sans', sans-serif;
    --cormorant: 'Cormorant Garamond', serif;
}
body{
    font-family: var(--dm);
    font-size: 14px;
    color: var(--white);
    letter-spacing: 3.1px;
}
h1 {
    font-family: var(--cormorant);
    text-transform: capitalize;
    font-weight: 300;
    font-size: 50px;
    color: var(--yellow);
}
a {
    font-family: var(--dm);
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3.1px;
}
@media (max-width: 780px) {
    h1 {
        font-size: 44px;
    }
}
/* ============ */
/* Header */
/* ============ */
header {
    background-color: var(--black);
    box-shadow: 0 0 3px 2px #0d07093c;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu-btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
}
.menu-btn:hover .burger-menu,
.menu-btn:hover .burger-menu::before,
.menu-btn:hover .burger-menu::after {
    background-color: var(--yellow);
}
.menu-btn:hover {
    animation: menuHover 0.5s ease;
}
@keyframes menuHover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
/* Burger Menu */
.burger-menu {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    border-radius: 1px;
    position: absolute;
    transition: all 0.5s ease;
}
.burger-menu::before,
.burger-menu::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: var(--white);
    border-radius: 1px;
    position: absolute;
    transition: all 0.5s ease;
}
.burger-menu::before {
    transform: translateY(-8px);
}
.burger-menu::after {
    transform: translateY(8px);
}
.menu-btn.openMenu .burger-menu {
    background-color: transparent;
}
.menu-btn.openMenu .burger-menu::before {
    transform: rotate(45deg);
}
.menu-btn.openMenu .burger-menu::after {
    transform: rotate(-45deg);
}

/* ============ */
/* nav-header */
/* ============ */
.nav-header.open {
    height: 90vh;
}
.nav-header {
    height: 0;
    text-align: center;
    overflow: hidden;
    transition: all 0.5s ease;
}
.nav-header a {
    display: block;
    padding: 20px;
    transition: all 0.5s ease;
}
.nav-header a:hover {
    color: var(--yellow);
}
.nav-social {
    display: flex;    
    justify-content: center;
    align-items: center;
}
.nav-social a {
    padding: 20px 9px;
    margin-top: 40px;
    transition: all 0.5s ease;
}
.nav-social a:hover svg {
    color: var(--yellow);
}
.nav-header p {
    padding: 20px;
}
.nav-header .createdby {
    font-size: 12px;
    padding-top: 5px;
    text-transform: capitalize;
}
.nav-header .createdby:hover {
    color: var(--blue);
}
